<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="concepto">{{concepto.nombreConcepto}}</span>
      <span *ngIf="!concepto" style="color:#e60023">{{nombreMateria}} - Conceptos</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'bg': !concepto}">
  <div *ngIf="concepto">
    <div class="blog-post" [innerHtml]="concepto.html | safeHtml"></div>
  </div>
  <div *ngIf="!concepto">
    <ion-row>
      <ion-col size="6" *ngFor="let concepto of modelConcepto">
        <ion-card (click)="presentModal(concepto)" style="background-color: white">
          <ion-card-header>
            <ion-img [src]="concepto.urlimage"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>{{concepto.nombreConcepto}}</ion-card-title>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>