<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mi Encarta Multimedia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="ion-text-center">
      <h2 style="color: white">Semestres</h2>
    </div>
    <ion-card style="background-color: white" (click)="expandItem(item)" *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <app-expandable [expanded]="item.expanded" class="ion-text-center" expandHeight="500px">
          <h3 class="ion-text-center">Materias</h3>
          <span *ngIf="modelMateria[0]==null" class="ion-text-center">:(</span>
          <div *ngFor="let materia of modelMateria">
            <ion-button (click)="getConcepto(materia,item)" shape="round">
              {{ materia.nombreMateria }}
            </ion-button>
          </div>
        </app-expandable>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>